body {
    margin: 0 auto;
}

h1 {
    color: #333333;
    padding: 10px 10px 10px 10px;
}

h2 {
    color: #555555;
    text-align: center;
}

p {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px 20px 20px 20px;
}

@keyframes open_img {
    from {
        border-radius: 0%;
    }
    to {
        border-radius: 50%;
    }
}

.profil img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    animation-name: open_img;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.information {
    text-align: center;
    color: #000;
}

.information a {
    color: #000;
}

.information a:hover {
    color: #f1f1f1;
}

.information ul {
    padding: 0px;
    list-style: none;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}