body {
    margin: 0 auto;
}

h1 {
    color: #333333;
    padding: 10px 10px 10px 10px;
}

h2 {
    color: #555555;
    text-align: center;
}

p {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px 20px 20px 20px;
}

@keyframes open_img {
    from {
        border-radius: 0%;
    }
    to {
        border-radius: 50%;
    }
}

.profil img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    animation-name: open_img;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.information {
    text-align: center;
    color: #000;
}

.information a {
    color: #000;
}

.information a:hover {
    color: #f1f1f1;
}

.information ul {
    padding: 0px;
    list-style: none;
}

.dropdown {
    display: inline-block;
}