body {
    margin: 0 auto;
    background-color: #cdcdcd;
}

h1 {
    color: #333333;
    padding: 10px 10px 10px 10px;
}

h2 {
    color: #555555;
}

p {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px 20px 20px 20px;
}

@keyframes open_img {
    from {
        border-radius: 0%;
    }
    to {
        border-radius: 50%;
    }
}

.profil img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    animation-name: open_img;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.information a {
    color: #000;
}

.information a:hover {
    color: #f1f1f1;
}

.information ul {
    padding: 0px;
    list-style: none;
}

.footer_info {
    margin: 20px;
    width: 280px;
    height: auto;
    float: left;
    text-align: center;
}

.footer_info h2{
    margin: 0px;
}

nav{
    position: fixed;
}

.dropdown {
    display: inline-block;
}

.social_button {
    float: left;
    margin: 30px 30px 0px 0px;
}